<div class="inputForm" ng-controller="addCustomer">
        <form ng-submit="addCustomer()">
            <table>
                <tr>
                    <td>Customer Name:
                        <input type="text" ng-model="custName"></input>
                    </td>
                </tr>
                <tr>
                    <td>Address:
                        <input type="text" ng-model="address"></input>
                    </td>
                </tr>
                <tr>
                    <td>Country:
                        <input type="text" ng-model="country"></input>
                    </td>
                </tr>
                <tr>
                    <td>Account Manager:
                        <input type="text" ng-model="accMngr"></input>
                    </td>
                </tr>
                <tr>
                    <td>Account Manager Email:
                        <input type="email" ng-model="accMngrEmail"></input>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add Customer"></input>
        </form>

        <table>
        	<tr ng-repeat="item in customers"><td>{{item.custName}}</td><td>{{item.address}}</td><td>{{item.country}}</td><td>{{item.accMngr}}</td><td>{{item.accMngrEmail}}</td></tr>
        </table>
    </div>