<div ng-controller="customerCtrl">
    <div class="customer-inputForm">
        <form ng-submit="addCustomer()">
            <table>
                <tr>
                    <td>Customer Name:
                        <input type="text" ng-model="custName"></input>
                    </td>
                </tr>
                <tr>
                    <td>Address:
                        <input type="text" ng-model="address"></input>
                    </td>
                </tr>
                <tr>
                    <td>Country:
                        <input type="text" ng-model="country"></input>
                    </td>
                </tr>
                <tr>
                    <td>Account Manager:
                        <input type="text" ng-model="accMngr"></input>
                    </td>
                </tr>
                <tr>
                    <td>Account Manager Email:
                        <input type="email" ng-model="accMngrEmail"></input>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add Customer"></input>
        </form>
    </div>
    <input ng-model="searchKeyword" placeholder="Search..." class="customer-search"></input>
    <table class="customer-list" width="100%">
        <tr>
            <th width="17%">Customer Name</th>
            <th width="50%">Address</th>
            <th width="6%">Country</th>
            <th width="12%">Account Manager</th>
            <th width="15%">Account Manager Email</th>
        </tr>
        <tr ng-repeat="item in customers | filter: searchKeyword  track by $index">
            <td><a ng-href="#customer/{{item.id}}">{{item.custName}}</a></td>
            <td>{{item.address}}</td>
            <td>{{item.country}}</td>
            <td><a ng-href="#">{{item.accMngr}}</a></td>
            <td><a ng-href="#">{{item.accMngrEmail}}</a></td>
        </tr>
    </table>
</div>
