<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Space App</title>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
   <script type="text/javascript" src="../js/lib/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="../js/lib/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
<link rel="stylesheet" href="../assets/stylesheets/styles.css">
</head>
<body>
  <div ng-app="myApp">
    <script type="text/ng-template" id="partials/notebook-directive.html">
    <span class="count">Completed : {{completedCount}}</span><span class="">Remaining Count: {{remainingCount}}</span>
    <ul class="thumbnails" ng-repeat="(key, value) in todos | groupBy: 'date'" >
       Due Date: {{ key }}  ___________total: {{value.length}}__________completed:{{(value |  filter:{done:true}).length }}
         <li ng-repeat="todo in value">
            <my-note class="span2 thumbnail" delete="deleteTodo(todo.id)" todo="todo" >
                <button class="btn btn-large close pull-right" ng-click="delete(todo.id)">&times;</button>
                <!-- <hr/> -->
                <input class="todo-chkbox" type="checkbox" ng-model="todo.done">
                <p class="todo-text" ng-show="!todo.done">{{todo.title}}</p>
                <p class="todo-text" ng-show="todo.done"><del>{{todo.title}}</del></p>
            </my-note>
        </li>
    </ul>
    </script>

    <div ng-controller="TodoCtrl">
        <div class="page-header">
            <h1>Todo List</h1>
        </div>
        <div class="form-actions">
            <div class="input-append">
                <form ng-submit="addTodo(text,date);resetForm();">
                    <input class="todo-input" ng-model="text" type="text" placeholder="Add a todo">
                    <input   class="todo-date" type="date" ng-model="date">
                    <button class="btn-submit" type="button"
                        ng-disabled="!date" ng-click="addTodo(text, date);resetForm();">Add Todo
                    </button>
              </form>
            </div>
        </div>
        <my-notebook class="todo-wrapper" todos="getTodos()" ondelete="deleteTodo(id)">
          {{remainingCount}}
        </my-notebook>
    </div>
</div>

<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../services/todoService.js"></script>
<script type="text/javascript" src="../controllers/todoCtrl.js"></script>
<script type="text/javascript" src="../directives/listItem.js"></script>

</body>
</html>
