*{
  box-sizing:border-box;
  padding: 0;
  margin:0;
}

body{
  margin:0;
  padding:0 ;
  font-family:sans-serif;
}
.navbar-default .navbar-nav > li > a {
    color: #f4f4f4;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.nav-fa{ padding-top: 8px;}
.body-wrapper{
  margin-top: 80px;
}
.todo-wrapper ul{
 margin: 70px 0;
  background-color:#ccc;
  padding: 0;
}
.navbar-default .navbar-brand {
    padding: 25px 0;
    font-size: 36px;
  color:#fff;
}
.nav-sidebar li{
  font-size: 20px;
  margin-bottom:10px;
}
.todo-wrapper li{
  overflow: auto;
  padding:5px;
  /* background-color: #EBEBE4; */
  list-style: none;
  margin:1px 0;
}
li i{
  padding-right:5px;
}
.todo-wrapper{
  display:block;
  margin:0 auto;
  clear:both;
}
.todo-input{
  width:350px;
  height:35px;
  font-size:20px;
  float: left;
  padding:10px;
}
.btn-add{
margin-left: 10px;
}
.todo-date{
  margin-left:10px;
    width:200px;
  height:35px;
  font-size:16px;
  float: left;
}

.close{
  float: right;
  margin-top:15px;
}
.todo-chkbox{
  float: left;
  margin-top:20px;
}
.todo-text{
  float: left;
  margin-left:10px;
  width:80%;
  height: 35px;
  padding: 6px;
  /* background-color:#ccc; */
  border:none;
}

.todo-wrapper{
  padding: 0;
}
/* .editing{
  background-color: #ccffdd;
}
*/
input[type="checkbox"] {
  margin:10px;
}

.sidebar-nav-fixed{
    top: 70px;
    bottom: 0px;
    background-color: #ccc;
    border-right: 1px solid #ccc;
  z-index: 100;
  padding:0 ;
}

.sidebar-nav-fixed li:hover{
  border-left: 5px solid #FF4646;
}
.navbar-fixed-top{
height: 70px;
 background-color: #2c3742;
}

#date-div img{
  height: 38px;
}
input[disabled]{
  background-color:transparent;
}
.bgSuccess {
  background-color: #dff0d8;
}
.form-actions{
      min-height: 130px;
    padding-top: 50px;
}

.container-div{
  border: 1px solid #999;
  overflow: auto;
}

.li-items{
  max-height: 200px;
  overflow: auto;
  padding: 0;
}

.blockquote{
      border-left: 5px solid #FF4646;
      padding-left: 15px;
}



/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}



 .ng-enter           { animation: slideInRight .5s both ease-in-out; z-index: 88; }
.ng-leave           { animation: slideOutLeft .5s both ease-in-out; z-index: 80; }


 .page-todo{
  position: absolute;
  top: 0;
  bottom: 0;
  /* width: 100%; */
  height: 100%;
 }
 #main-container{
  /*position: absolute;*/
  min-height: 600px;
 }

